body {
  background-color: #323232;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  color: white;
  max-height: 100vh;
}

.symbol {
  opacity: 1;
}

.inactive {
  opacity: 0.3;
}

.currentPlayer {
  display: flex;
  flex-direction: row;
  gap: 30px;
  justify-content: center;
  margin-top: 50px;
}

h1 {
  font-size: 48px;
  text-align: center;
}

#content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

button {
  padding: 10px 20px;
  font-size: 24px;
  border: none;
  background-color: #00B0EF;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

button:hover {
  background-color: #26bcf3;
}


table {
  border-collapse: collapse;
}

td {
  width: 100px;
  height: 100px;
  text-align: center;
  border: 5px solid white;
  cursor: pointer;
}

td:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

table {
  border-spacing: 0;
}

table td:first-child {
  border-left-width: 0;
}

table td:last-child {
  border-right-width: 0;
}

table tr:first-child td {
  border-top-width: 0;
}

table tr:last-child td {
  border-bottom-width: 0;
}

@media (max-width: 840px) {
  #content {
    margin-top: 100px;
  }
}

@media (max-height: 750px) {
  #content {
    margin-top: 50px;
  }
}

@media (max-height: 680px) {
  .currentPlayer {
    margin-top: 10px;
  }
  #content {
    margin-top: 30px;
  }
  .button {
    margin-top: 20px;
  }
  h1 {
    margin: 0;
  }
}